* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Actef', sans-serif;
    background-color: #e5decf;

}

.container{
    border: 1px solid #000;
    background-color: #e5decf;
    width: 100%;
    height: auto; 
}

.calc{
    position: absolute;
    margin-top: 12%;
    left: 43%;
    top: 40%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: grey;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
.result{
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 20px;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    /*border: 1px solid black;*/
    box-shadow: 0 5px 20px rgba(250, 226, 92, 0.4);
    background: #fae25c;
}
a.text{
    background-color: white;
    text-decoration: none;
    color: black;   
}
a.text.active{
    background-color: white;
    text-decoration: none;
    color: black;
}
a.text.hover{
    background-color: white;
    text-decoration: none;
    color: black;
}
a{
    text-decoration: none;
    color: black;   
}
a.active{
    text-decoration: none;
    color: black;
}
a.hover{
    text-decoration: none;
    color: black;
}
.cont1{
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
}
.all{
    background-color: #8da683;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border-radius: 22px;
    border: #8da683 2px solid;
    width: 80%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4) ;
}
nav{
    background-color: #fff;
    border-radius: 22px;
    display: flex;
    align-items: row;
    justify-content: center;
    padding: 15px;
    margin-top: 10px;
    margin-bottom:10px ;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
nav ul li{
    display: inline;
    list-style: none;
    font-size: 90%;
    text-decoration: none;
    color: #000;
    padding: 0 20px;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
    position: relative;
    border-right: 1px solid grey;
    background-color: white;
    
    
}
ul.hr{
    background-color: #fff;
    margin: 0;
    padding: 0;
}
nav ul li:after {
    content: '';
    width: 0;
    height: 3px;
    background: #8da683;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}
.button{
    height: 50px;
    width: 50px;
    border:1px solid grey ;
    border-radius: 30px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
    text-align: center;
    color: white;
}
.zametka {
    border:#000 1px solid;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
.calc1{
    background-color: grey;
    border-radius: 15px;
}
.textformat{
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}
.cont2{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}